[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = "simple simulator of the world cup 2018 "
[access "refs/*"]
	owner = group user/Maftoul OMAR (logarithm27)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Maftoul OMAR (logarithm27)
	label-Verified = -1..+1 group user/Maftoul OMAR (logarithm27)
	push = group user/Maftoul OMAR (logarithm27)
	read = group user/Maftoul OMAR (logarithm27)
	rebase = group user/Maftoul OMAR (logarithm27)
	removeReviewer = group user/Maftoul OMAR (logarithm27)
	submit = group user/Maftoul OMAR (logarithm27)
[access "refs/heads/*"]
	create = group user/Maftoul OMAR (logarithm27)
	push = +force group user/Maftoul OMAR (logarithm27)
	pushMerge = group user/Maftoul OMAR (logarithm27)
	read = group user/Maftoul OMAR (logarithm27)
[access "refs/tags/*"]
	push = group user/Maftoul OMAR (logarithm27)
	push = +force group user/Maftoul OMAR (logarithm27)
